// Flexbox

%flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

%flex-center-h {
  display: flex;
  justify-content: center;
}

%flex-center-v {
  display: flex;
  align-items: center;
}

// Grid

%grid-center {
  display: grid;
  place-items: center;
}

%grid-center-h {
  display: grid;
  justify-items: center;
}

%grid-center-v {
  display: grid;
  align-items: center;
}
