*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body, .position {
  display: flex;
  align-items: center;
  justify-content: center;
}

.board {
  display: grid;
  place-items: center;
}

:root {
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.body {
  height: 100vh;
  width: 100vw;
  background: #FBE7C6;
  position: relative;
}

.board {
  height: min(20rem, 80vw);
  width: min(20rem, 80vw);
  background: transparent;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 0.6rem;
}

.position {
  height: 100%;
  width: 100%;
  background: #f8cae54d;
  cursor: pointer;
  transition: 100ms;
  box-shadow: 0 0.1rem 0.2rem #e63a9e4d;
}
.position:hover {
  background: #f0f8ab;
}

.x {
  position: relative;
}
.x::before, .x::after {
  content: "";
  position: absolute;
  width: 4%;
  height: 50%;
  background: #1b0a0c;
  -webkit-animation: appear-x 200ms forwards;
          animation: appear-x 200ms forwards;
}
.x::before {
  content: "";
  position: absolute;
  transform: rotate(45deg);
}
.x::after {
  content: "";
  position: absolute;
  transform: rotate(-45deg);
}

.circle {
  position: relative;
}
.circle::after {
  content: "";
  position: absolute;
  height: 50%;
  width: 50%;
  border-radius: 50%;
  background: transparent;
  border: solid thick #ff5f7a;
  -webkit-animation: appear-circle 200ms forwards;
          animation: appear-circle 200ms forwards;
}

.winner {
  font-size: 1rem;
  position: absolute;
  bottom: 1rem;
  font-weight: 700;
}
.winner::first-letter {
  text-transform: uppercase;
}

.circle-winner {
  color: #ff5f7a;
}

.x-winner {
  color: #1b0a0c;
}

@-webkit-keyframes appear-circle {
  from {
    opacity: 0;
    width: 5%;
    height: 5%;
  }
  to {
    opacity: 1;
    width: 50%;
    height: 50%;
  }
}

@keyframes appear-circle {
  from {
    opacity: 0;
    width: 5%;
    height: 5%;
  }
  to {
    opacity: 1;
    width: 50%;
    height: 50%;
  }
}
@-webkit-keyframes appear-x {
  from {
    opacity: 0;
    width: 0.4%;
    height: 5%;
  }
  to {
    opacity: 1;
    width: 4%;
    height: 50%;
  }
}
@keyframes appear-x {
  from {
    opacity: 0;
    width: 0.4%;
    height: 5%;
  }
  to {
    opacity: 1;
    width: 4%;
    height: 50%;
  }
}