@use "../abstracts/index" as *;

:root {
  font-size: 20px;
}

.body {
  height: 100vh;
  width: 100vw;
  background: #000;
  @extend %flex-center;
  position: relative;
}

.board {
  height: min(40%, 20rem);
  width: min(70%, 20rem);
  background: #000;
  @extend %grid-center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: .1rem;
}

.position {
  height: 100%;
  width: 100%;
  background: #111;
  cursor: pointer;
  transition: 100ms;
  @extend %flex-center;

  &:hover {
    background: rgb(20, 20, 20);
  }
}

.x {
  position: relative;

  @include pseudo-both() {
    width: 4%;
    height: 50%;
    background: #fff;
  }

  @include pseudo($loc: before) {
    transform: rotate(45deg);
  }

  @include pseudo($loc: after) {
    transform: rotate(-45deg);
  }
}

.circle {
  position: relative;

  @include pseudo() {
    height: 50%;
    width: 50%;
    border-radius: 50%;
    background: transparent;
    border: solid thick #fff;
  }
}

.winner {
  color: #fff;
  position: absolute;
  bottom: 1rem;
}