@use "../abstracts/index" as *;

$board--clr: #41729F;
$board-hover--clr: #2a5279;
$bg--clr: #5885AF;
$character--clr: #daf9ff;
$font--clr: #daf9ff;

:root {
  font-size: 20px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.body {
  height: 100vh;
  width: 100vw;
  background: $bg--clr;
  @extend %flex-center;
  position: relative;
}

.board {
  height: min(40%, 20rem);
  width: min(70%, 20rem);
  background: transparent;
  @extend %grid-center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: .3rem;
}

.position {
  height: 100%;
  width: 100%;
  background: $board--clr;
  cursor: pointer;
  transition: 100ms;
  @extend %flex-center;

  &:hover {
    background: $board-hover--clr;
  }
}

.x {
  position: relative;

  @include pseudo-both() {
    width: 4%;
    height: 50%;
    background: $character--clr;
    animation: appear 100ms forwards;
  }

  @include pseudo($loc: before) {
    transform: rotate(45deg);
  }

  @include pseudo($loc: after) {
    transform: rotate(-45deg);
  }
}

.circle {
  position: relative;
  
  @include pseudo() {
    height: 50%;
    width: 50%;
    border-radius: 50%;
    background: transparent;
    border: solid thick $character--clr;
    animation: appear 100ms forwards;
  }
}

.winner {
  font-size: 1rem;
  color: $font--clr;
  position: absolute;
  bottom: 1rem;
  font-weight: $bold;
}

@keyframes appear {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}