*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body, .position {
  display: flex;
  align-items: center;
  justify-content: center;
}

.board {
  display: grid;
  place-items: center;
}

:root {
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.body {
  height: 100vh;
  width: 100vw;
  background: #FAE8E0;
  position: relative;
}

.board {
  height: min(40%, 20rem);
  width: min(70%, 20rem);
  background: transparent;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 0.1rem;
}

.position {
  height: 100%;
  width: 100%;
  background: #B6E2D3;
  cursor: pointer;
  transition: 100ms;
}
.position:hover {
  background: #b8ddd1;
}

.x {
  position: relative;
}
.x::before, .x::after {
  content: "";
  position: absolute;
  width: 4%;
  height: 50%;
  background: #D8A7B1;
}
.x::before {
  content: "";
  position: absolute;
  transform: rotate(45deg);
}
.x::after {
  content: "";
  position: absolute;
  transform: rotate(-45deg);
}

.circle {
  position: relative;
}
.circle::after {
  content: "";
  position: absolute;
  height: 50%;
  width: 50%;
  border-radius: 50%;
  background: transparent;
  border: solid thick #D8A7B1;
}

.winner {
  font-size: 1rem;
  color: #444;
  position: absolute;
  bottom: 1rem;
  font-weight: 700;
}