@use "../abstracts/index" as *;

$board--clr: #f8cae54d;
$board-hover--clr: #f0f8ab;
$bg--clr: #FBE7C6;
$circle--clr: #ff5f7a;
$x--clr: #1b0a0c;

:root {
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.body {
  height: 100vh;
  width: 100vw;
  background: $bg--clr;
  @extend %flex-center;
  position: relative;
}

.board {
  height: min(20rem, 80vw);
  width: min(20rem, 80vw);
  background: transparent;
  @extend %grid-center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: .6rem;
}

.position {
  height: 100%;
  width: 100%;
  background: $board--clr;
  cursor: pointer;
  transition: 100ms;
  @extend %flex-center;
  box-shadow: 0 .1rem .2rem #e63a9e4d;

  &:hover {
    background: $board-hover--clr;
  }
}

.x {
  position: relative;

  @include pseudo-both() {
    width: 4%;
    height: 50%;
    background: $x--clr;
    animation: appear-x 200ms forwards;
  }

  @include pseudo($loc: before) {
    transform: rotate(45deg);
  }

  @include pseudo($loc: after) {
    transform: rotate(-45deg);
  }
}

.circle {
  position: relative;
  
  @include pseudo() {
    height: 50%;
    width: 50%;
    border-radius: 50%;
    background: transparent;
    border: solid thick $circle--clr;
    animation: appear-circle 200ms forwards;
  }
}

.winner {
  font-size: 1rem;
  position: absolute;
  bottom: 1rem;
  font-weight: $bold;

  &::first-letter {
    text-transform: uppercase;
  }
}

.circle-winner {
  color: $circle--clr;
}

.x-winner {
  color: $x--clr;
}

@keyframes appear-circle {
  from {
    opacity: 0;
    width: 5%;
    height: 5%;
  }

  to {
    opacity: 1;
    width: 50%;
    height: 50%;
  }
}

@keyframes appear-x {
  from {
    opacity: 0;
    width: .4%;
    height: 5%;
  }

  to {
    opacity: 1;
    width: 4%;
    height: 50%;
  }
}